<!DOCTYPE html>
<html>
  <head>
  
  	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  	<script src="js/controller.js"></script>
  </head>
  <body>
  	
 <div class="container" ng-app="listApp" ng-controller="ListController as lc">
  <h2>Hacker News</h2>
  <p>Search for the news</p>  
  <input class="form-control" ng-model="query" id="myInput" type="text" placeholder="Search for news" autofocus>
  <br>
  <ul class="list-group" id="myList">
    <li  ng-repeat="item in lc.news | filter: query" class="list-group-item">
              <div> 
                  <h2><a href="{{item.url}}" target="_blank">{{item.title}}</a></h2>
                  <p>{{item.created_at | date:"dd MMM ', ' h:mma"}}</p>
              </div>
            </li>
  </ul>  
</div>

  
  	<script type="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.min.js"></script>
         <script type="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>